<div class="container-fluid p-0 no-gutters" id="header" name="inicio">
    <div class="row d-flex bg-dark align-items-center p-0 no-gutters gx-0" >
        <div class="col-xs-12 col-sm-12 col-md-6 no-gutters">
            <app-logo-ap></app-logo-ap>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 no-gutters">
            <app-social></app-social>
        </div> 
    </div>
    <div class="row gx-0 p-0 no-gutters">
        <div class="col-12 no-gutters">
            <app-banner></app-banner>
        </div>
     </div>
    
    
</div>
