<div class="container-fluid" id="encabezado"> 
  <div class="row no-gutters mb-2 pb-1 align-items-start">
    <!-- columna foto -->
    <div class="col-12 col-sm-3 d-inline-block position-relative text-center">
      <img
        class="img-fluid foto-perfil"
        id="img"
        name="img"
        src="{{persona.img}}"
        alt="Foto Perfil Alicia Zuñega"
      />
    </div>

    <!-- columna nombre y titulo -->
    <div class="col-12 col-sm-4 text-center">
      <h3 id="nombre" name="nombre">
        {{ persona.nombre }} {{ persona.apellido }}
      </h3>
      <h4>{{ persona.titulo }}</h4>
    </div>
    <!-- columna acerca de mi -->
    <div class="col-12 col-sm-5" id="ir-acerca-de">
      <h2 class="text-center mt-1">Acerca de mi:</h2>
      <p id="about" class="text-start">{{ persona.about }}</p>
      <button
        type="button"
        class="btn btn-outline-secondary bi bi-pencil-square"
        *ngIf="isLogged"
        routerLink="/editAbout/{{ persona.id }}"
        title="Editar"
      >
        Editar
      </button>
    </div>
  </div>
</div>
