<div class="container-fluid" *ngIf="persona">
  <div class="row no-gutters mb-2 pb-1">
    <!-- columna foto -->
    <div class="col d-inline-block position-relative">
      <img
        class="img-fluid foto-perfil"
        id="img"
        name="img"
        src="{{ persona.img }}"
        alt="Foto Perfil"
      />
      <button
        type="button"
        id="btn-img"
        class="btn btn-xs btn-outline-secondary bi bi-pencil-square"
        *ngIf="isLogged"
        routerLink="/editAbout/{{ persona.id }}"
      ></button>
    </div>

    <!-- columna nombre y titulo -->
    <div class="col">
      <h3 id="nombre" name="nombre">{{ persona.nombre }} {{ persona.apellido }}</h3>
      <h5>FullStack Developer Jr</h5>
      <button
        type="button"
        class="btn btn-xs btn-outline-secondary bi bi-pencil-square"
        *ngIf="isLogged"
        routerLink="/editAbout/{{ persona.id}}"
      ></button>

    </div>
    <!-- columna acerca de mi -->
    <div class="col">
      <h2>Acerca de mi:</h2>
      <p id="about">{{ persona.about }}</p>
      <button
        type="button"
        class="btn btn-sm btn-outline-secondary bi bi-pencil-square"
        *ngIf="isLogged"
        routerLink="/editAbout/{{ persona.id }}"
      ></button>
    </div>
  </div>


  
  
  
</div>
