i {
    font-size: 2rem;
    color: aliceblue;

}

.nav-item,
button {
    border-color: azure;
    border-width: .1rem;
    align-items: center;
    text-align: center;
}

img {
    width: 40%;
}

ul {
    justify-content: space-between;
    margin-right: .5rem;
}