<nav class="navbar navbar-expand-lg navbar-dark w-100">
  <div class="container-fluid">
    <!-- link acortado que redirige a pagina del programa -->
    <a class="navbar-brand" href="https://acortar.link/ViMdKS" target="_blank"
      ><img
        src="../../../assets/APLogo.png"
        alt="Logo Argentina Programa"
        class="bg-dark text-light"
    /></a>
    <button
      class="navbar-toggler navbar-dark"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#social"
      aria-controls="social"
      aria-expanded="false"
      aria-label="Redes Sociales"
    >
      <span class="navbar-toggler-icon"> </span>
    </button>

    <div class="collapse navbar-collapse" id="social">
      <ul class="nav navbar-nav ml-auto mb-lg-0 bg-dark">
        <li class="nav-item">
          <a
            class="nav-link"
            href="mailto:alizunega84@gmail.com"
            target="_blank"
            ><i class="bi bi-envelope"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://t.me/AlitaZ16" target="_blank"
            ><i class="bi bi-telegram"></i
          ></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www.linkedin.com/in/alicialzunegamza"
            target="_blank"
            ><i class="bi bi-linkedin"></i
          ></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://github.com/alizunega"
            target="_blank"
            ><i class="bi bi-github"></i
          ></a>
        </li>
        <li class="nav-item">
          <button
            (click)="login()"
            *ngIf="!isLogged"
            class="btn bg-dark text-light"
          >
            <i class="bi bi-box-arrow-in-left"></i>LogIn
          </button>
          <button
            (click)="onLogOut()"
            *ngIf="isLogged"
            class="btn bg-dark text-light"
          >
            <i class="bi bi-box-arrow-in-right"></i>
            LogOut
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- JavaScript Bundle with Popper -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
  crossorigin="anonymous"
></script>
