<div class="list-group bg-dark d-flex flex-row">
    <a
      href="https://github.com/alizunega" target="_blank"
      class="list-group-item list-group-item-action bg-dark"
    >
      <i class="bi bi-github btn btn-outline-secondary"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/alicialzunegamza" target="_blank"
      class="list-group-item list-group-item-action bg-dark"
    >
      <i class="bi bi-linkedin btn btn-outline-secondary"></i>
    </a>
    <a
      href="https://t.me/AlitaZ16" target="_blank"
      class="list-group-item list-group-item-action bg-dark"
    >
      <i class="bi bi-telegram btn btn-outline-secondary"></i>
    </a>
    <a href="#" class="list-group-item list-group-item-action bg-dark">
      <i class="bi bi-box-arrow-in-left btn btn-outline-secondary"></i>
    </a>
  </div>
  
