*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
	min-width: 100vw;
	
}

html{
    min-height: 100%;
	min-width: 100vw;
}



