<div class="container-fluid bg-dark p-0">
    <nav class="m-0 w-100 bg-dark">
      <ul class="navbar justify-content-evenly fixed-top bg-dark">
        <li class="nav-item"><a href="#top" class="nav-link py-0 text-light">Inicio</a></li>
        <li class="nav-item"><a href="#ir-acerca-de" class="nav-link px-1 text-light">Acerca de mi</a></li>
        <li class="nav-item"><a href="#ir-experiencia" class="nav-link px-1 text-light">Experiencia</a></li>
        <li class="nav-item"><a href="#ir-educacion" class="nav-link px-1 text-light">Educación</a></li>
        <li class="nav-item"><a href="#ir-skills" class="nav-link px-1 text-light">Skills</a></li>
        <li class="nav-item"><a href="#ir-proyectos" class="nav-link px-1 text-light">Proyectos</a></li>
      </ul>
    </nav>
  </div>
