<div class="container-fluid" *ngIf="experiencia">
    <div class="row w-50">
        <div>
            <form #form="ngForm" (ngSubmit)="onUpdate()" novalidate >
                <div class="form-control">
                    <label for="nombreExpe">Nombre Empresa</label>
                    <input type="text" id="nombreExpe" name="nombreExpe" [(ngModel)]="experiencia.nombreExpe" required />
                </div>
                <div class="form-control">
                    <label for="descripcionExpe">Descripción del empleo</label>
                    <input type="text" id="descripcionExpe" name="descripcionExpe" [(ngModel)]="experiencia.descripcionExpe" required />
                </div>
                <div class="form-control">
                    <label for="fechainicio">Fecha Inicio</label>
                    <input type="text" id="fechainicio" name="fechainicio" [(ngModel)]="experiencia.fechainicio" required /> 
                    <span>formato dd-mm-aaaa</span>
                </div>
                <div class="form-control">
                    <label for="fechafin">Fecha Fin <small>(Dejar vacio si es actual*)</small></label>
                    <input type="text" id="fechafin" name="fechafin" [(ngModel)]="experiencia.fechafin"/><span>formato dd-mm-aaaa</span>
                </div>
                <div class="form-control">
                    <button type="submit" class="btn btn-md btn-secondary" (click)="onUpdate()"> Actualizar </button>
                    <button class="btn btn-md btn-outline-primary" routerLink="/#"> Volver sin cambios </button>
                </div>
                
            </form>
        </div>
    </div>

</div>

