<div class=".container-fluid" id="experiencia">
    <div class="list-group-flush w-90">
      <div class="row">
        <div class="col text-start"><h1>Experiencia</h1></div>
        <div class="col text-end">
          <a
            href="#"
            class="btn btn-sm btn-outline-secondary bi bi-pencil-square"> Editar
          </a>
        </div>
      </div>
  
      <div class="list-group-item">
        <h2>Experiencia 1</h2>
  
        <h3>años</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est,
          praesentium! Deleniti temporibus placeat aliquid quas delectus. Quaerat
          molestiae asperiores doloremque neque tempora necessitatibus sapiente,
          illo architecto dolore labore reiciendis ullam?
        </p>
      </div>
      <div class="list-group-item">
        <h2>Experiencia 2</h2>
        <h3>años</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est,
          praesentium! Deleniti temporibus placeat aliquid quas delectus. Quaerat
          molestiae asperiores doloremque neque tempora necessitatibus sapiente,
          illo architecto dolore labore reiciendis ullam?
        </p>
      </div>
      <div class="list-group-item">
        <h2>Experiencia 3</h2>
        <h3>años</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est,
          praesentium! Deleniti temporibus placeat aliquid quas delectus. Quaerat
          molestiae asperiores doloremque neque tempora necessitatibus sapiente,
          illo architecto dolore labore reiciendis ullam?
        </p>
      </div>
    </div>
  </div>
  
