<div class="container-fluid">
    <div class="row w-50">
        <div>
            <form #form="ngForm" (ngSubmit)="onCreate()" novalidate >
                <div class="form-control">
                    <label for="nombreE">Nombre Empresa</label>
                    <input type="text" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required />
                </div>
                <div class="form-control">
                    <label for="descripcionE">Descripción del empleo</label>
                    <input type="text" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required />
                </div>
                <div class="form-control">
                    <label for="fInicio">Fecha Inicio</label>
                    <input type="date" id="fInicio" name="fInicio" [(ngModel)]="fInicio" required />
                </div>
                <div class="form-control">
                    <label for="fFin">Fecha Fin <small>(Dejar vacio si es actual)*</small></label>
                    <input type="date" id="fFin" name="fFin" [(ngModel)]="fFin"/>
                </div>
                <div class="form-control">
                    <button class="btn btn-md btn-secondary" type="submit"> Agregar</button>
                    <button class="btn btn-md btn-outline-primary" routerLink="/#"> Volver a inicio</button>
                </div>
                
            </form>
        </div>
    </div>

</div>
