<div class="container-fluid">
    <div class="row w-50">
        <div>
            <form  (ngSubmit)="onCreate()" novalidate #form="ngForm" >
                <div class="form-control">
                    <label for="nombreExpe">Nombre Empresa</label>
                    <input type="text" id="nombreExpe" name="nombreExpe" [(ngModel)]="nombreExpe" required />
                </div>
                <div class="form-control">
                    <label for="descripcionExpe">Descripción del empleo</label>
                    <input type="text" id="descripcionExpe" name="descripcionExpe" [(ngModel)]="descripcionExpe" required />
                </div>
                <div class="form-control">
                    <label for="fechainicio">Fecha Inicio</label>
                    <input type="text" id="fechainicio" name="fechainicio" [(ngModel)]="fechainicio" required />
                    <span>Formato mm-aaaa</span>
                </div>
                <div class="form-control">
                    <label for="fechafin">Fecha Fin <small>(Dejar vacio si es actual)*</small></label>
                    <input type="text" id="fechafin" name="fechafin" [(ngModel)]="fechafin"/>
                    <small>Formato mm-aaaa</small>
                </div>
                <div class="form-control">
                    <button class="btn btn-md btn-secondary" type="submit" > Agregar</button>
                    <button class="btn btn-md btn-outline-primary" routerLink="/"> Volver a inicio</button>
                </div>
            </form>
        </div>
    </div>

</div>
