<div class="container-fluid d-flex justify-content-center mt-3">
  <div class="row w-100">
    <div class="col-3 col-md p-0 g-0"></div>
    <div class="col-6 col-md w-100 g-0">
      <form #form="ngForm" novalidate>
        <div class="form-control col-md-auto">
          <label for="nombreExpe">Nombre Empresa: </label>
          <input
            type="text"
            id="nombreExpe"
            name="nombreExpe"
            [(ngModel)]="nombreExpe"
            required
          />
        </div>
        <div class="form-control col-md-auto">
          <label for="descripcionExpe">Descripción del empleo: </label>
          <input
            type="text"
            id="descripcionExpe"
            name="descripcionExpe"
            [(ngModel)]="descripcionExpe"
            required
          />
        </div>
        <div class="form-control col-md-auto">
          <label for="fechainicio">Fecha Inicio: </label>

          <input
            type="text"
            id="fechainicio"
            name="fechainicio"
            [(ngModel)]="fechainicio"
            required
            placeholder="Formato mm-aaaa"
          />
        </div>
        <div class="form-control col-md-auto">
          <label for="fechafin">Fecha Fin: </label>
          <input
            type="text"
            id="fechafin"
            name="fechafin"
            [(ngModel)]="fechafin"
            placeholder="Actualidad"
          />
        </div>
        <div class="form-control col-md-auto">
          <button
            class="btn btn-md btn-outline-success"
            type="submit"
            (click)="onCreate()"
          >
            Agregar
          </button>
          <button class="btn btn-md btn-outline-primary" [routerLink]="'/'">
            Volver a inicio
          </button>
        </div>
      </form>
    </div>
    <div class="col-3 col-md p-0 g-0"></div>
  </div>
</div>
