.container-fluid {
    outline: none;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: rgb(243, 246, 248);
}

.ir-arriba {
    display: block;
    background-repeat: no-repeat;
    font-size: 2em;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 2;
}