<div class="container-fluid w-100">
  <div class="row">
    <div class="col"></div>
    <div class="col-10 col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h1>Login</h1>
          <p>Debe estar loguead@ para realizar modificaciones en el portfolio.</p>
        </div>
        <form #f="ngForm" novalidate>
          <div class="card-body">
            <div class="form-outline mb-4">
              <input
                type="text"
                id="nombreUsuario"
                name="nombreUsuario"
                class="form-control form-control-md"
                placeholder="Ingrese un usuario válido"
                [(ngModel)]="nombreUsuario"
                required
              />
            </div>
    
            <div class="form-outline mb-3">
              <input
                type="password"
                name="password"
                id="password"
                class="form-control form-control-md"
                placeholder="Ingrese una contraseña válida"
                [(ngModel)]="password"
                required
              />
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button
                type="submit"
                name="submit"
                class="btn btn-success btn-md py-2"
                (click)="onLogin()"
              >
                Ingreso
              </button>
            </div>
          </div>
          <div class="text-center text-lg-start mt-4 pt-2 px-3">
            <a href="/#" class="btn btn-secondary btn-md px-2">Volver a Inicio</a>
          </div>
        </form>
        
        <div class="card-footer text-muted mt-1 text-center">Copyright © 2022</div>
      </div>
    </div>
    <div class="col"></div>
  </div>
  
</div>
