.list-group-flush{
    padding-left: .75rem;
    padding-top: 1rem;
    margin-top: .5rem;
}
.container-fuid{
    max-width: 100%;
}

#educacion{
    border-top: .05rem outset rgba(130, 128, 150, 0.447);
}

li{
    list-style: none;
    margin-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: .05rem outset rgba(130, 128, 150, 0.447);
}
