<!-- id es para que tome el link interno del footer -->
<div class="container-fluid" *ngIf="educacion" id="ir-educacion">
  <div class="list-group-flush w-90">
    <div class="row">
      <div class="col text-start">
        <h1>Educación</h1>
      </div>
      <div class="col text-end">
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary bi bi-plus-square"
          routerLink="/nuevaedu"
          *ngIf="isLogged"
        >
          Agregar
        </button>
      </div>
    </div>

    <div class="list-group-item">
      <ul>
        <li *ngFor="let Educacion of educacion">
          <div class="row align-items-center">
            <div class="col-3">
              <h3>{{Educacion.titulo}}</h3>
            </div>
            <div class="col-4">
              <h4>{{Educacion.nombreInstitucion}}</h4>
            </div>
            <div class="col-3">
              <h5>{{Educacion.fechainicio}} - {{Educacion.fechafin}}</h5>
            </div>
            <div class="col-1">
              <button
                *ngIf="isLogged"
                class="bi bi-pencil btn btn-sm btn-outline-dark"
                routerLink="/editedu/{{Educacion.id}}"
              >
                Editar
              </button>
            </div>
            <div class="col-1">
              <button
                *ngIf="isLogged"
                class="bi bi-trash3-fill btn btn-sm btn-outline-danger"
                (click)="delete(Educacion.id)"
              >
                Borrar
              </button>

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
