<div class="container-fluid">
    <div class="row w-50">
        <div>
            <form #form="ngForm" (ngSubmit)="onCreate()" novalidate >
                <div class="form-control">
                    <label for="titulo">Titulo</label>
                    <input type="text" id="titulo" name="titulo" [(ngModel)]="titulo" required />
                </div>
                <div class="form-control">
                    <label for="nombreInstitucion">Nombre Institucion</label>
                    <input type="text" id="nombreInstitucion" name="nombreInstitucion" [(ngModel)]="nombreInstitucion" required />
                </div>
                <div class="form-control">
                    <label for="fInicio">Fecha Inicio</label>
                    <input type="text" id="fInicio" name="fInicio" [(ngModel)]="fInicio" required />
                    
                </div>
                <div class="form-control">
                    <label for="fFin">Fecha Fin <small>(Dejar vacio si es actual)*</small></label>
                    <input type="text" id="fFin" name="fFin" [(ngModel)]="fFin"/>
                </div>
                <div class="form-control">
                    <button class="btn btn-md btn-secondary" type="submit"> Agregar</button>
                    <button class="btn btn-md btn-outline-primary" routerLink="/#"> Volver a inicio</button>
                </div>
                
            </form>
        </div>
    </div>

</div>

