@media screen and(max-width: 400px) {
    div.container-fluid {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .form-control {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
    }

    input {
        width: 20rem;
    }


}

.form-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .5rem;
}

input {
    width: 20rem;
}