<div class="container-fluid mt-3">
  <form #f="ngForm" class="needs-validation" novalidate>
    <div class="row">
      <div class="col-12 col-md-4 text-start">
        <label for="titulo" class="form-label">Título:</label>
      </div>
      <div class="col-12 col-md">
        <input
          type="text"
          id="titulo"
          name="titulo"
          [(ngModel)]="titulo"
          required
          class="form-control"
        />
        <div class="invalid-feedback">Campo obligatorio.</div>
        <div class="valid-feedback">Campo completo.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <label for="nombreInstitucion" class="form-label"
          >Nombre de Institución:
        </label>
      </div>
      <div class="col-12 col-md">
        <input
          type="text"
          required
          class="form-control"
          id="nombreInstitucion"
          name="nombreInstitucion"
          [(ngModel)]="nombreInstitucion"
        />
        <div class="invalid-feedback">Campo obligatorio.</div>
        <div class="valid-feedback">Campo completo.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <label for="fechainicio" class="form-label">Fecha inicio:</label>
      </div>
      <div class="col-12 col-md">
        <input
          type="text"
          required
          class="form-control"
          name="fechainicio"
          id="fechainicio"
          [(ngModel)]="fechainicio"
        />
        <div class="invalid-feedback">Campo obligatorio.</div>
        <div class="valid-feedback">Campo completo.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <label for="fechafin" class="form-label">Fecha fin:</label>
      </div>
      <div class="col-12 col-md">
        <input
          type="text"
          class="form-control"
          name="fechafin"
          id="fechafin"
          [(ngModel)]="fechafin"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-success" (click)="onCreate()">
          Enviar
        </button>
      </div>
      <div class="col">
        <button class="btn btn-primary" [routerLink]="'/'">
          Volver
        </button>
      </div>
    </div>
  </form>
</div>

