<div class="container-fluid bg-dark">
    <footer class="mt-auto ">
      <ul class="nav justify-content-center border-bottom">
        <li class="nav-item"><a href="#top" class="nav-link px-2 text-light">Inicio</a></li>
        <li class="nav-item"><a href="#acerca-de" class="nav-link px-2 text-light">Acerca de mi</a></li>
        <li class="nav-item"><a href="#experiencia" class="nav-link px-2 text-light">Experiencia</a></li>
        <li class="nav-item"><a href="#educacion" class="nav-link px-2 text-light">Educación</a></li>
        <li class="nav-item"><a href="#skills" class="nav-link px-2 text-light">Skills</a></li>
        <li class="nav-item"><a href="#proyectos" class="nav-link px-2 text-light">Proyectos</a></li>
        
      </ul>
      <p class="text-center text-light m-auto p-3">Alicia Zuñega  -  Mendoza, Argentina  -  &copy;2022</p>
    </footer>
  </div>
