<div
  class="container-fluid d-flex justify-content-center mt-3 w-50"
  *ngIf="skill"
>
  <div class="row w-100">
    <div>
      <form #form="ngForm" novalidate>
        <div class="form-control col-md-auto">
          <label for="nombreSkill">Título:</label>
          <input
            type="text"
            id="nombreSkill"
            name="nombreSkill"
            [(ngModel)]="skill.nombreSkill"
            required
          />
        </div>
        <div class="form-control col-md-auto">
          <label for="imgsrc">Imagen (link):</label>
          <input
            type="text"
            id="imgsrc"
            name="imgsrc"
            [(ngModel)]="skill.imgsrc"
            required
          />
        </div>
        <div class="form-control col-md-auto">
          <label for="colorInterno">Color Interno:</label>
          <input
            type="text"
            id="colorInterno"
            name="colorInterno"
            [(ngModel)]="skill.colorInterno"
            required
          />
        </div>
        <div class="form-control col-md-auto">
          <label for="colorExterno">Color Externo:</label>
          <input
            type="text"
            id="colorExterno"
            name="colorExterno"
            [(ngModel)]="skill.colorExterno"
            required
          />
        </div>
        <div class="form-control col-md-auto">
          <label for="porcentaje">Porcentaje</label>
          <input
            type="number"
            id="porcentaje"
            name="porcentaje"
            [(ngModel)]="skill.porcentaje"
          />
        </div>
        <div class="form-control col-md-auto">
          <button
            type="submit"
            class="btn btn-md btn-success"
            (click)="onUpdate()"
          >
            Actualizar
          </button>
          <button class="btn btn-md btn-outline-primary" [routerLink]="'/'">
            Volver sin cambios
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
