
@media screen and (min-width:800px) {
    .container-fluid {
        width: 60%;
        margin: auto;
        padding: 2rem;
        align-items: center;
        justify-content: center;
        position: relative;
    }

}

.row {
    margin: .5rem;
    padding: 1rem;
}

form {
    outline: 1px solid rgb(108, 108, 129);
}

input[type=color] {
    width: 10rem;
}