<!-- id es para que tome el link interno del footer -->
<div class="container-fluid" id="ir-skills" *ngIf="skills">
  <div class="list-group-flush w-90">
    <div class="row">
      <div class="col text-start">
        <h1>Hard y Soft Skills</h1>
      </div>
      <div class="col text-end">
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary bi bi-plus-square"
          routerLink="/newskill"
          *ngIf="isLogged"
        >
          Agregar
        </button>
      </div>
    </div>
    <div class="row" *ngIf="skills.length <= 0">
      <p style="color: rgb(196, 162, 162)">No hay skills para mostrar</p>
    </div>

    <div class="list-group-item">
      <!--  -->
      <div class="row row-cols-auto">
        <ul>
          <li *ngFor="let Skill of skills">
            <div class="col-12 col-sm my-2">
              <div class="row">
                <circle-progress
                  [percent]="Skill.porcentaje"
                  [outerStrokeColor]="Skill.colorExterno"
                  [innerStrokeColor]="Skill.colorInterno"
                  [imageSrc]="Skill.imgsrc"
                  [title]="Skill.nombreSkill"
                ></circle-progress>
              </div>
              <div class="row text-center">
                <p>{{ Skill.nombreSkill }}</p>
              </div>
              <div class="row text-center">
                <div class="col-6">
                  <button
                    *ngIf="isLogged"
                    class="bi bi-pencil btn btn-sm btn-outline-dark"
                    routerLink="/editskill/{{ Skill.id }}"
                  >
                    Editar
                  </button>
                </div>
                <div class="col-6">
                  <button
                    *ngIf="isLogged"
                    class="bi bi-trash3-fill btn btn-sm btn-outline-danger"
                    (click)="delete(Skill.id)"
                  >
                    Borrar
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
