<div class="container-fluid d-flex justify-content-center mt-3 w-50">
    <div class="row w-100">
      <div>
        <form #form="ngForm" novalidate>
          <div class="form-control col-md-auto">
            <label for="nombreProyecto">Nombre del Proyecto: </label>
            <input
              type="text"
              id="nombreProyecto"
              name="nombreProyecto"
              [(ngModel)]="nombreProyecto"
              required
            />
          </div>
          <div class="form-control col-md-auto">
            <label for="imgproyecto">Imagen (link): </label>
            <input
              type="text"
              id="imgproyecto"
              name="imgproyecto"
              [(ngModel)]="imgproyecto"
              required
            />
          </div>
          <div class="form-control col-md-auto">
            <label for="descripcionProyecto">Descripcion del proyecto: </label>
  
            <input
              type="text"
              id="descripcionProyecto"
              name="descripcionProyecto"
              [(ngModel)]="descripcionProyecto"
              required
            />
          </div>
          <div class="form-control col-md-auto">
            <label for="linkproyecto">Link del Proyecto: </label>
            <input
              type="text"
              id="linkproyecto"
              name="linkproyecto"
              [(ngModel)]="linkproyecto"
            />
          </div>
          <div class="form-control col-md-auto">
            <button
              class="btn btn-md btn-outline-success"
              type="submit"
              (click)="onCreate()"
            >
              Agregar
            </button>
            <button class="btn btn-md btn-outline-primary" [routerLink]="'/'">
              Volver a inicio
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  

