<div class="container-fluid mt-5" id="ir-proyectos">
    <div class="row mt-3">
      <div class="col text-start"><h1>Proyectos</h1></div>
      <div class="col text-end">
        <a href="#" class="btn btn-sm btn-outline-secondary bi bi-pencil-square"> Editar
        </a>
      </div>
      
      <div class="card w-3">
  
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <img
              class="card-img-top img-responsive img-thumbnail"
              src="../../../assets/proyectos/doc-tecnica.png"
              alt="Proyecto Documentacion tecnica"
            />
  
            <div class="card-body">
              <h3 class="card-title">Technical Documentation Page</h3>
              <p class="card-text">
                Proyecto realizado en lenguajes HTML y CSS, para obtener
                certificación de Diseno Web Responsivo.
              </p>
              <a
                href="https://codepen.io/alizunega/full/bGbErop"
                target="_blank"
                class="btn btn-outline-secondary"
                >Ir al proyecto <i class="bi bi-arrow-right-square-fill"></i></a
              >
            </div>
          </li>
          <li class="list-group-item">
            <img
              class="card-img-top img-responsive img-thumbnail"
              src="../../../assets/proyectos/encuesta.png"
              alt="Proyecto Formulario de Encuesta"
            />
  
            <div class="card-body">
              <h3 class="card-title">Survey Form</h3>
              <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
              </p>
              <a
                href="https://codepen.io/alizunega/full/pMrRjL"
                target="_blank"
                class="btn btn-outline-secondary"
                >Ir al proyecto <i class="bi bi-arrow-right-square-fill"></i></a
              >
            </div>
          </li>
          <li class="list-group-item">
            <img
              class="card-img-top img-thumbnail img-responsive"
              src="../../../assets/proyectos/fanpage.png"
              alt="Pagina Tributo"
            />
            <div class="card-body">
              <h3 class="card-title">Tribute Page</h3>
              <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
              </p>
              <a
                href="https://codepen.io/alizunega/full/dxWodP"
                target="_blank"
                class="btn btn-outline-secondary"
                >Ir al proyecto <i class="bi bi-arrow-right-square-fill"></i></a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  